openapi: 3.1.0
info:
  version: 0.1.1
  title: Twenty Eight Solutions Toolbox
  description: Some tools shared between our projects
  contact:
    name: Twenty Eight Solutions
    url: https://twentyeight.solutions
    email: info@twentyeight.solutions
servers:
  - url: https://tools.28.solutions
    description: Freely available
tags:
  - name: Networking
    description: Network-related tools
  - name: Misc
    description: Unrelated tools
paths:
  /ip:
    get:
      summary: Get your public IP address
      operationId: whatIsMyIp
      tags: [Networking]
      responses:
        200:
          description: |
            Your public [IPv4][ipv4] address in dot-decimal notation

            [ipv4]: https://en.wikipedia.org/wiki/IPv4
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/IPv4"
        default:
          $ref: "#/components/responses/GenericError"
  /hash:
    post:
      summary: Hash arbitrary data
      description: |
        Compute the hash of arbitrary data

        Currently __only__ [MD5 algorithm][md5] is supported

        [md5]: https://en.wikipedia.org/wiki/MD5
      operationId: hash
      tags: [Misc]
      requestBody:
        description: Data to process
        required: true
        content:
          text/plain:
            schema:
              type: string
              examples: [foobar]
          application/octet-stream:
            schema: {}
      responses:
        200:
          description: Hash as an hexadecimal string
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/HexString"
        default:
          $ref: "#/components/responses/GenericError"
components:
  schemas:
    Error:
      type: string
      examples: [something went wrong]
    IPv4:
      type: string
      pattern: ^\d{1,3}(?:[.]\d{1,3}){3}$
      examples: [12.34.56.78]
    HexString:
      type: string
      pattern: ^[a-f0-9]+$
      examples: [3858f62230ac3c915f300c664312c63f]
  responses:
    GenericError:
      description: Unexpected error
      content:
        text/plain:
          schema:
            $ref: "#/components/schemas/Error"
